.DS_Store
Thumbs.db
._*

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

env/
venv/
.env
.venv
conda/
.conda/

.idea/
.vscode/
*.swp

.ipynb_checkpoints
*/.ipynb_checkpoints/*

data/mongo_volume/
mongo_data/

*.log

pipeline/config.py
